/* Only rudimentary CSS for the first project phase */


/*=======*/
/* FONTS */
/*=======*/

@font-face {
    font-family: font-primary;
    src: url(../fonts/BastardoGrotesk-Regular.ttf);
    font-weight:400;
    font-style:normal;
}

@font-face {
    font-family: font-primary;
    src: url(../fonts/BastardoGrotesk-Semibold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: font-primary;
    src: url(../fonts/BastardoGrotesk-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: font-secondary;
    src: url(../fonts/IBMPlexMono-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}


/*===========*/
/* VARIABLES */
/*===========*/

:root {
    --primary-color: #000000;
    --elevated-color: #1C1C1E;
    --elevated-color-shade: #111112;
    --contour-color: #38383A;
    --text-color-dark: #1C1C1E;
    --text-color-light: #FFFFFF;
    --text-color-medium: #8E8E93;
    --accent-color: #FF375F;
    --accent-color-shade: #E61C44;
}


/*========*/
/* STYLES */
/*========*/

body {
    font-family: 'font-primary', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--primary-color);
    color: var(--text-color-light);

    margin: 0;
}


/*============ */
/* TEXT STYLES */
/*============ */

h1 {
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.1;
    margin: 0;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.1;
    margin: 0;
}

h3 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.2;
    margin: 0;
}

strong {
    font-weight: 600;
}


/* currentColor only works with svg paths within an html file, will have to change that for some icons... */


/*=========*/
/* BUTTONS */
/*=========*/

.button-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 100vw;
    padding: 0.75rem 1.5rem;

    background-color: var(--accent-color);
    color: var(--text-color-light);
    font-weight: 600;
    text-decoration: none;
    border: none;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.button-primary:hover {
    background-color: var(--accent-color-shade);
}

/*============*/
/* NAVIGATION */
/*============*/

/* Sizes below are for the mobile view and will be adapted for larger screens in the future. */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-image: linear-gradient(to right, rgba(28, 28, 30, 0.5) 0%, rgba(17, 17, 18, 0.8) 100%);
    border: 1px solid var(--contour-color);
    border-radius: 100vw;

    padding: 8px 8px 8px 16px;
    margin: 0 0.5rem;
    top: 0.5rem;

    font-size: 0.5rem;
    font-weight: 600;

    backdrop-filter: blur(8px) brightness(90%) saturate(150%);

    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content:center;

    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li + li {
    margin-left: -0.5rem;
}

nav ul li a {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    width: 56px;

    padding: 0.25rem 0.5rem;
    text-decoration: none;
    color: var(--text-color-medium);
    transition: all 0.2s ease;

    border-radius: 100vw;
}

nav ul li a:hover {
    color: var(--text-color-light);
}

nav .menu-active {
    background-color: var(--accent-color);
    color: var(--text-color-light);
}


nav > a:first-child {
    color: var(--text-color-light);
    transition: all 0.2s ease;
}

nav > a:first-child:hover {
    color: var(--accent-color);
}

@media (min-width: 400px) {
    nav ul li + li {
    margin-left: 0;
    }

    nav ul li a {
        width: 64px;
    }
}


@media (min-width: 641px) {
    nav {
        font-size: 1rem;
        padding: 8px 8px 8px 32px;
        top: 1rem;
        margin: 0 1rem;
    }

    nav a svg {
        width: 76px;
        height: 20px;
    }

    nav ul li a {
        gap: 8px;
        width: 128px;
    }

    nav ul li a svg {
        width: 24px;
        height: 24px;
    }   

    nav > a:first-child {
        width: 128px;
    }

}

@media (min-width: 896px) {
    nav {
        max-width: 864px;
        margin: 0 auto;
    }
}



/*========*/
/* FOOTER */
/*========*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: linear-gradient(to bottom, var(--elevated-color) 0%, var(--elevated-color-shade) 100%);
    border: 1px solid var(--contour-color);
    border-radius: 32px;

    margin: 64px 0 32px 0;
    padding: 32px 16px 36px 16px;
}

footer ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 1rem 0;
}

footer ul:first-child li {
    margin: 0 0.5rem;
}

footer ul:last-child li {
    margin: 0 1rem;
}

footer a {
    color: var(--text-color-medium);
    text-decoration: none;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

footer a:hover {
    color: var(--accent-color);

}


/*================*/
/* CARDS HOMEPAGE */
/*================*/

.card-container {
    padding: 1rem 0;
}

.card-container article {
    background-image: linear-gradient(to bottom, var(--elevated-color) 0%, var(--elevated-color-shade) 100%);
    border: 1px solid var(--contour-color);
    border-radius: 32px;

    margin: 16px 0;
    padding: 32px;

    text-align: center;
}

/*=========*/
/* BANNERS */
/*=========*/

/* On mobile, banners are always shown fully. On larger screens, some content may be cut from the left and right, with a fixed height. */

.banner {
    position: relative;
    line-height: 0;
}

.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 0%, var(--primary-color) 100%);
}

@media (min-width: 641px) {
    .banner {
    height: 752px;
    overflow: hidden;
    }

    .banner img {
    width: 100%;
    height: 100%;
    }
}

