/* Only rudimentary CSS for the first project phase */


/*=======*/
/* FONTS */
/*=======*/

@font-face {
    font-family: font-primary;
    src: url(../fonts/BastardoGrotesk-Regular.ttf);
    font-weight:400;
    font-style:normal;
}

@font-face {
    font-family: font-primary;
    src: url(../fonts/BastardoGrotesk-Semibold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: font-primary;
    src: url(../fonts/BastardoGrotesk-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: font-secondary;
    src: url(../fonts/IBMPlexMono-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}

/*
    Removed this font from the homepage.

    @font-face {
        font-family: font-logoname;
        src: url(../fonts/UltraSolar-Variable.ttf);
        font-weight: 400;
        font-style: normal;
    }
*/


/*===========*/
/* VARIABLES */
/*===========*/

:root {
    --primary-color: #000000;
    --elevated-color: #1C1C1E;
    --elevated-color-shade: #111112;
    --contour-color: #38383A;
    --text-color-dark: #1C1C1E;
    --text-color-light: #FFFFFF;
    --text-color-medium: #8E8E93;
    --accent-color: #FEBC2E;
    --accent-color-shade: #28C840;
}

/* Decided AGAINST light mode because the smooth effect from images to background looks to dreamy on light mode. Focused on great dark mode design instead. */


/*========*/
/* STYLES */
/*========*/

body {
    font-family: 'font-primary', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--primary-color);
    color: var(--text-color-light);

    margin: 0;
}


/*============ */
/* TEXT STYLES */
/*============ */

h1 {
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.1;
    margin: 0;
    padding: 0 0 2rem 0;
    text-align: center;
    hyphens: auto;
}

@media (min-width: 400px) {
    h1 {
        font-size: 4rem;
    }
}

.logoname {
    font-family: 'font-primary', sans-serif;
    padding: 0;
    color: var(--accent-color);
}


h2 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.1;
    margin: 2rem 0;
}

h3 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.2;
    margin: 0;
}

strong {
    font-weight: 600;
}

p {
    margin: 1rem 0;
}



/* Text Style for Eyebrows/Sub-Headlines above or below H1 */

.h1-eyebrow {
    text-align: center;
    color: var(--accent-color);
    background: rgba(17, 17, 18, 0.2);

    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    border-radius: 100vw;
    padding: 0rem 0.75rem;

    backdrop-filter: blur(8px) brightness(90%) saturate(150%);
}

.h1-subline {
    text-align: center;
    color: var(--text-color-light);
    margin: 0.5rem;
}

.album-title {
    padding: 0;   
    margin: 0;
}


/* Some H2 are centered */

.centered {
    text-align: center;
}


/*=========*/
/* BUTTONS */
/*=========*/

.button-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 100vw;
    padding: 0.75rem 1.5rem;
    margin: 1rem 0;

    background-color: var(--accent-color);
    color: var(--text-color-dark);
    font-weight: 600;
    text-decoration: none;
    border: none;
    cursor: pointer;

    transition: all 0.2s ease-in-out;

    line-height: 1;
}

.button-primary:hover {
    background-color: var(--accent-color-shade);
}


.button-back {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    border-radius: 100vw;
    padding: 0.25rem 0.5rem;
    margin: 0;

    background-image: linear-gradient(to left, rgba(28, 28, 30, 0.5) 0%, rgba(17, 17, 18, 0.6) 100%);
    border: 1px solid var(--contour-color);
    border-radius: 100vw;

    backdrop-filter: blur(8px) brightness(90%) saturate(150%);

    color: var(--text-color-medium);

    font-size: 0.75rem;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;

    transition: all 0.2s ease-in-out;

    line-height: 1;

    position: fixed;
    top: 78px;
    left: 8px;
    z-index: 998;
}

.button-back:hover {
    color: var(--text-color-light);
}

@media (min-width: 400px) {
    .button-back {
        top: 84px;
    }
}

@media (min-width: 641px) {
    .button-back {
        top: 114px;
        left: 16px;
    }
}

@media (min-width: 1152px) {
    .button-back {
        top: 46px;
        left: 16px;
    }
}


/*============*/
/* NAVIGATION */
/*============*/


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-image: linear-gradient(to right, rgba(28, 28, 30, 0.5) 0%, rgba(17, 17, 18, 0.8) 100%);
    border: 1px solid var(--contour-color);
    border-radius: 100vw;

    padding: 8px 8px 8px 24px;
    margin: 0 0.5rem;
    top: 0.5rem;

    font-size: 0.5rem;
    font-weight: 600;

    backdrop-filter: blur(8px) brightness(90%) saturate(150%);

    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content:center;

    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li + li {
    margin-left: -0.5rem;
}

nav ul li a {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    width: 56px;

    padding: 0.25rem 0.5rem;
    text-decoration: none;
    color: var(--text-color-medium);
    transition: all 0.2s ease;

    border-radius: 100vw;
}

nav ul li a:hover {
    color: var(--text-color-light);
}

nav .menu-active {
    background-color: var(--accent-color);
    color: var(--text-color-dark);
}

nav .menu-active:hover {
    background-color: var(--accent-color);
    color: var(--text-color-dark);
}


nav > a:first-child {
    transition: all 0.2s ease;
    width: 55px;
    height: 20px;
}


@media (min-width: 400px) {
    nav {
        font-size: 0.75rem;
    }

    nav ul li + li {
        margin-left: 0;
    }

    nav ul li a {
        width: 72px;
    }

    nav > a:first-child {
    transition: all 0.2s ease;
    width: 66px;
    height: 24px;
}
}


@media (min-width: 641px) {
    nav {
        font-size: 1rem;
        padding: 8px 8px 8px 32px;
        top: 16px;
        margin: 0 16px;
    }

    nav ul li a {
        gap: 8px;
        width: 128px;
    }

    nav ul li a svg {
        width: 24px;
        height: 24px;
    }   

    nav > a:first-child {
        width: 88px;
        height: 32px;
    }

}

@media (min-width: 928px) {
    nav {
        max-width: 864px;
        margin: 0 auto;
    }
}



/*========*/
/* FOOTER */
/*========*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: linear-gradient(to bottom, var(--elevated-color) 0%, var(--elevated-color-shade) 100%);
    border: 1px solid var(--contour-color);
    border-radius: 48px;

    margin: 64px 8px 32px 8px;
    padding: 32px 16px 36px 16px;
}

footer ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 1rem 0;
}

footer ul:first-child li {
    margin: 0 0.5rem;
}

footer ul:last-child li {
    margin: 0 1rem;
}

footer a {
    color: var(--text-color-medium);
    text-decoration: none;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

footer a:hover {
    color: var(--accent-color);
}

@media (min-width: 641px) {
    footer {
        margin: 64px 16px 32px 16px
    }
}

@media (min-width: 896px) {
    footer {
        max-width: 864px;
        margin: 64px auto 32px;
    }
}






/*====================*/
/* CARDS FOR PROJECTS */
/*====================*/

.photo-card {
    position: relative;
    border-radius: 48px;
    overflow: hidden;
    display: inline-block;
}

.photo-card img {
    display: block;  
    width: 100%;
    height: auto;
}

.photo-card-content {
    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 8px;

    padding: 24px 16px 16px 16px;

    background-image: linear-gradient(to right, rgba(28, 28, 30, 0.5) 0%, rgba(17, 17, 18, 0.8) 100%);
    border: 1px solid var(--contour-color);
    border-radius: 40px;

    backdrop-filter: blur(2px) brightness(90%) saturate(150%);
}

.photo-card-content h3 {
    padding: 0;
    text-align: center;
    text-wrap: balance;
}

.photo-card-content p {
    margin: 0.5rem 0 1.5rem 0;
    text-align: center;
    text-wrap: balance;
}


.photo-card-content a {
    margin: 0;
    display: flex;
}


/*=======================*/
/* GRID FOR PHOTO CARDS */
/*=======================*/

.photo-card-wall {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(344px, 1fr));
    gap: 1rem;
}

@media (min-width: 1152px) {
    .photo-card-wall {
        gap: 2rem;
    }
}




/*=========*/
/* BANNERS */
/*=========*/

/* On mobile, banners are always shown fully. On larger screens, some content may be cut from the left and right, with a fixed height. */

.banner {
    position: relative;
    line-height: 0;
}

.banner picture {
    position: absolute;
    z-index: -1; /* below content */
}

.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.banner picture::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 0%, var(--primary-color) 100%); 
}

.intro-text {
    padding-top: 192px;
}

.intro-logo {
    padding-top: 192px;
    padding-bottom: 32px;
}

.intro-album {
    padding-top: 256px;
}


@media (min-width: 641px) {
    .banner picture {
        height: 752px;
        overflow: hidden;
        width: 100%;
    }

    .banner img {
        width: 100%;
        height: 100%;
    }

    .intro-text {
        padding-top: 256px;
    }

    .intro-logo {
        padding-top: 256px;
        padding-bottom: 96px;
    }

    .intro-album {
        padding-top: 384px;
    }
}


/*========*/
/* LAYOUT */
/*========*/

.column-1-slim {
    margin: 5rem auto;
    padding: 8px;
}

@media (min-width: 641px) {
    .column-1-slim {
        padding: 16px;
    }
}

@media (min-width: 896px) {
    .column-1-slim {
        max-width: 864px;
        padding: 0;
    }
}


.column-1-wide {
    margin: 6rem auto;
    padding: 8px;
}

@media (min-width: 641px) {
    .column-1-wide {
        padding: 16px;
    }
}

@media (min-width: 1376px) {
    .column-1-wide {
        max-width: 1312px;
        padding: 0;
    }
}


.columns-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(416px, 1fr));
    gap: 1rem;
}



/*================*/
/* CARDS HOMEPAGE */
/*================*/


.link-card {
    background-image: linear-gradient(to bottom, var(--elevated-color) 0%, var(--elevated-color-shade) 100%);
    border: 1px solid var(--contour-color);
    border-radius: 48px;

    padding: 32px;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-card-text {
    flex: 1;
}


/*===========*/
/* FOTOALBEN */
/*===========*/

.photo-vertical {
    max-width: 640px;
    margin: 2rem auto;
}

.photo-horizontal {
    max-width: 1312px;
    margin: 2rem auto;
}

@media (min-width: 641px) {
    .photo-vertical {
        margin: 4rem auto;
    }
   
    .photo-horizontal {
        margin: 4rem auto;
    }

}

figure img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 16px;
}

figcaption {
    font-family: 'font-secondary', monospace;
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
    margin: 0.5rem auto;
    color: var(--text-color-medium);
    text-wrap: balance;
    font-weight: 500;
    font-style: italic;
}


/*=====================*/
/* ADDITIONAL ELEMENTS */
/*=====================*/

.profilepic {
    display: block;
    margin: 0 auto 32px;

    width: 128px;
    aspect-ratio: 1/1;
    object-fit: cover;

    border-radius: 50%;
    border: 1px solid;
    border-color: var(--contour-color);
}

@media (min-width: 641px) {
    .profilepic {
        width: 192px;
    }
}